{% extends "layout.html" %}

{% block body %}
<h1>All books</h1>
{% for book in books %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      {{ book.name}}
    </h5>
    <h6 class="card-subtitle mb-2">
      Author: {{ book.author }}
    </h6>
    <h6 class="card-subtitle mb-2">
      Published: {{ book.publication_year}}
    </h6>
    <td>
      <form method="POST" action="{{ url_for('books_contact', book_id=book.id) }}">
        <input type="submit" class="btn btn-dark my-2 my-sm-0" name="delete" value="Delete book"/>
        <input type="submit" class="btn btn-dark my-2 my-sm-0" name="update" value="Update data"/>
        <input type="submit" class="btn btn-dark my-2 my-sm-0" name="review" value="Give a review"/>
        <input type="submit" class="btn btn-dark my-2 my-sm-0" name="list" value="List reviews"/>
      </form> 
    </td>
  </div>
</div>
{% endfor %}

{% endblock %}
