{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Book title</th>
      <th>Book author</th>
      <th>Publication year</th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publication_year }}</td>
      <td>
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('books_contact', book_id=book.id) }}">
          <input type="submit" name="delete" value="Delete book"/>
          <input type="text" name="name">
          <input type="submit" name="update_name" value="Update title"/>
          <input type="text" name="author">
          <input type="submit" name="update_author" value="Update author"/>
          <input type="number" name="publication_year">
          <input type="submit" name="update_publication_year" value="Update publication year"/>
        </form>
        {% endif %}  
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
