{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('reviews_create') }}">
  <table>
    <tr>
      <td>
        {{ form.grade.label }}
      </td>
      <td>
        {{ form.grade}}
      </td>
      <td>
        <ul>
          {% for error in form.grade.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.text.label }}
      </td>
      <td>
        {{ form.text }}
      </td>
      <td>
        <ul>
          {% for error in form.text.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
      <td colspan="2">
        <input type="submit" value="Add a new review"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}