{% extends "layout.html" %}
  
{% block body %}
<h1>Give a book review</h1>

<form method="POST" action="{{ url_for('reviews_create', book_id=book.id) }}">
  <div class="form-group">
      {{ form.grade.label }}
      {{ form.grade(class="form-control")}}
      <td>
        <ul>
          {% for error in form.grade.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  </div>
  <div class="form-group">
      {{ form.text.label }}
      {{ form.text(class="form-control", rows="10") }}
      <td>
        <ul>
          {% for error in form.text.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  </div>
  <div>
    <input type="submit" class="btn btn-success my-2 my-sm-0" value="Post review"/>
    <a class="btn btn-danger my-2 my-sm-0" href="/books">Cancel</a>
  </div>
</form>
{% endblock %}