{% extends "layout.html" %}
  
{% block body %}
<h1 class="text-center">Update your review</h1>
<div class="jumbotron">
  <div class="container">
    <h6 class="text-center">
      Update selected review with the form below.
    </h6>
  </div>
</div>
<form method="POST" action="{{ url_for('reviews_update', review_id=review.id) }}">
  <div class="form-group">
      {{ form.grade.label }}
      {{ form.grade(class="form-control")}}
      <td>
        <ul>
          {% for error in form.grade.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  </div>
  <div class="form-group">
      {{ form.text.label }}
      {{ form.text(class="form-control", rows="10") }}
      <td>
        <ul>
          {% for error in form.text.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  </div>
  <div>
    <input type="submit" class="btn btn-success my-2 my-sm-0" value="Update data"/>
    <a class="btn btn-primary my-2 my-sm-0" href="/reviews/mylist">Back to list</a>
    Go back to the list to see the updated list
  </div>
</form>
{% endblock %}